@font-face {
  font-family: 'Graphik';
  src: url('./Graphik-Regular.ttf');
}

@font-face {
  font-family: 'dank';
  src: url('./DankMono-Regular.ttf');
}

@font-face {
  font-family: 'arvo';
  src: url('./Arvo-Regular.ttf');
}

@font-face {
  font-family: 'raleway';
  src: url('./Raleway-Medium.ttf');
}

@font-face {
  font-family: 'oxygen';
  src: url('./Oxygen-Regular.ttf');
}
